<!DOCTYPE html>
<html>
  <head>
    <title><%= operation %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= first_val %> <%= operation %> <%= second_val %>  <%= equal %> <%= final_result %></h1>
  </body>
</html>
